<!--
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="/js/js_script.js" defer></script>
    <script src="/js/vue_script.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>World of Big Chungus</title>
    <meta charset="utf-8"/>
  </head>
  <body>
    <main>
      <div id="headern"> <h1 id="textHead">Welcome to Big Chungus Burgers</h1>
        <img id="headPic" src="https://i.ytimg.com/vi/OqjUGiJqWZk/maxresdefault.jpg"></div>
      <section id="Burgers">
        <span id="burgerSK"><h2>Select your chungi burger</h2>
          <p>This is where you can be The Big Chungus and select a burger</p></span>

        <div class="wrapper" id="theWrapper">
          <!--<div class="box b1"><p class="burgerNames"> Nasty ass burger</p> <img src="http://www.pngmart.com/files/5/Hamburger-Transparent-PNG.png" alt="Nasty burger" title="Nasty as burger" width="200">
            <ul>
              <li>Gluten free</li>
              <li>Lactose free</li>
              <li>Free from everything</li>
              <li> 1000cal</li>
          </ul></div>-->

         <!-- <div class="box b1"><p class="burgerNames"> Fat ass burger</p> <img src="http://www.pngmart.com/files/5/Hamburger-Transparent-Background.png" alt="Fat as burger" title="Fat as burgerr" width="200">
            <ul>
              <li>Very much <span class="ing">fat</span></li>
              <li>Super much <span class="ing">suger</span></li>
              <li>Will probalby taste like <span class="ing">shit</span></li>
              <li> 1000cal</li>
          </ul> </div>
          
          <div class="box b2"><p class="burgerNames"> Big Chungus burger</p> <img src="http://www.pngmart.com/files/5/Hamburger-PNG-Picture.png" alt="Big Chungus burger" title="Big Fucking CHungus" width="200">
            <ul>
              <li>Our only good burger</li>
              <li>Best burger you will ever have</li>
              <li>So much <span class="ing">allergic stuff</span> in it</li>
              <li>Only <span class="ing">gluten</span></li>
              <li>Solely made of <span class="ing">milk products</span></li>
              <li> 1000cal</li>
          </ul></div>
        </div>
        <br/>
      </section>
      <section id="Customer">
        <h2>Big customer information</h2>
        <p>Enter the chungiest information about you</p>
        <form>
          
          <p>
            <label for="full name">Full name</label><br>
            <input type="text" id="full name" name="name" required="required" placeholder="First- and Last name">
          </p>
          <p>
            <label for="mail">E-mail</label><br>
            <input type="email" id="mail" name="mail" required="required" placeholder="E-mail adress">
          </p>
          <p>
            <label for="street"> Street</label><br>
            <input type="text" id="street" name="street" required="required" placeholder="Street name">
          </p>
          <p>
            <label for="house"> House</label><br>
            <input type="number" id="house" name="house" required="required" placeholder="House number" min="1">
          </p>
          <p>
            <label for="big"> How Chungi should the burger be?</label><br>
            <input type="text" id="big" name="big chungus" required="required" placeholder="Your chungus fantasy">

          <p>
            <label for="payment">Payment</label><br>
            <select id="payment" name="payment">
              <option>Credit card</option>
              <option>Cash</option>
              <option>Favours</option>
              <option selected="selected">Pray to Big Chungus the great</option>
            </select>

          <p>Gender</p>
          <p>
            <input type="radio" id="gender" name="gender" required="required">
            <label for="gender">Small Chungus</label>
          </p>
          <p>
            <input type="radio" id="gender" name="gender" required="required">
            <label>Medium Chungus</label>
          </p>
          <p>
            <input type="radio" id="gender" name="gender" required="required">
            <label>Another Chungus</label>
          </p>
          <p>
            <input type="radio" id="gender" name="gender" required="required">
            <label>Undisclosed Chungus</label>
          </p>
          <p>
            <input type="radio" id="gender" name="gender" required="required" checked="checked">
            <label>Not big Chungus but kind of big</label>
          </p>  
        </form>
        <p>
         <div id="buttonHolder"> <button type="submit"><img src="https://i.ytimg.com/vi/YFXlzKDjL8E/maxresdefault.jpg" width="20" height="20">Big Send</button></div>
        </p>
      </section>
    </main>
    <hr>
    <footer>
      <p> Big CHungus Inc. </p>
    </footer>
  </body>
</html>

-->



                                                     
                                                     <!-------Vue --------------------------------------------------------------------------------------------->


                                                     <!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://vuejs.org/js/vue.js"></script>
   <!-- <script src="/js/js_script.js" defer></script> -->
    <script src="/js/vue_script.js" defer></script>-->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- Your comment goes here -->
    <title>World of Big Chungus</title>
    <meta charset="utf-8"/>
  </head>
  <body>
    <main>
      <div id="headern"> <h1 id="textHead">Welcome to Big Chungus Burgers</h1>
        <img id="headPic" src="https://i.ytimg.com/vi/OqjUGiJqWZk/maxresdefault.jpg"></div>
      <section id="Burgers">
        <span id="burgerSK"><h2>Select your chungi burger</h2>
          <p>This is where you can be The Big Chungus and select a burger</p></span>

        <div class="wrapper" id="theWrapper">
          <!--<div class="box b1"><p class="burgerNames"> Nasty ass burger</p> <img src="http://www.pngmart.com/files/5/Hamburger-Transparent-PNG.png" alt="Nasty burger" title="Nasty as burger" width="200">
            <ul>
              <li>Gluten free</li>
              <li>Lactose free</li>
              <li>Free from everything</li>
              <li> 1000cal</li>
          </ul></div>-->

         <!-- <div class="box b1"><p class="burgerNames"> Fat ass burger</p> <img src="http://www.pngmart.com/files/5/Hamburger-Transparent-Background.png" alt="Fat as burger" title="Fat as burgerr" width="200">
            <ul>
              <li>Very much <span class="ing">fat</span></li>
              <li>Super much <span class="ing">suger</span></li>
              <li>Will probalby taste like <span class="ing">shit</span></li>
              <li> 1000cal</li>
          </ul> </div>
          
          <div class="box b2"><p class="burgerNames"> Big Chungus burger</p> <img src="http://www.pngmart.com/files/5/Hamburger-PNG-Picture.png" alt="Big Chungus burger" title="Big Fucking CHungus" width="200">
            <ul>
              <li>Our only good burger</li>
              <li>Best burger you will ever have</li>
              <li>So much <span class="ing">allergic stuff</span> in it</li>
              <li>Only <span class="ing">gluten</span></li>
              <li>Solely made of <span class="ing">milk products</span></li>
              <li> 1000cal</li>
          </ul></div>-->
        </div>
        <br/>
      </section>
      <section id="Customer">
        <h2>Big customer information</h2>
        <p>Enter the chungiest information about you</p>
        <form>
          
          <p>
            <label for="full name">Full name</label><br>
            <input type="text" id="full name" name="name" required="required" placeholder="First- and Last name">
          </p>
          <p>
            <label for="mail">E-mail</label><br>
            <input type="email" id="mail" name="mail" required="required" placeholder="E-mail adress">
          </p>
          <p>
            <label for="street"> Street</label><br>
            <input type="text" id="street" name="street" required="required" placeholder="Street name">
          </p>
          <p>
            <label for="house"> House</label><br>
            <input type="number" id="house" name="house" required="required" placeholder="House number" min="1">
          </p>
          <p>
            <label for="big"> How Chungi should the burger be?</label><br>
            <input type="text" id="big" name="big chungus" required="required" placeholder="Your chungus fantasy">

          <p>
            <label for="payment">Payment</label><br>
            <select id="payment" name="payment">
              <option>Credit card</option>
              <option>Cash</option>
              <option>Favours</option>
              <option selected="selected">Pray to Big Chungus the great</option>
            </select>

          <p>Gender</p>
          <p>
            <input type="radio" id="gender" name="gender" required="required">
            <label for="gender">Small Chungus</label>
          </p>
          <p>
            <input type="radio" id="gender" name="gender" required="required">
            <label>Medium Chungus</label>
          </p>
          <p>
            <input type="radio" id="gender" name="gender" required="required">
            <label>Another Chungus</label>
          </p>
          <p>
            <input type="radio" id="gender" name="gender" required="required">
            <label>Undisclosed Chungus</label>
          </p>
          <p>
            <input type="radio" id="gender" name="gender" required="required" checked="checked">
            <label>Not big Chungus but kind of big</label>
          </p>  
        </form>
        <p>
         <div id="buttonHolder"> <button type="submit"><img src="https://i.ytimg.com/vi/YFXlzKDjL8E/maxresdefault.jpg" width="20" height="20">Big Send</button></div>
        </p>
      </section>
    </main>
    <hr>
    <footer>
      <p> Big CHungus Inc. </p>
    </footer>
  </body>
</html>

